div {
    font-family: MyCustomTTF;
}

.mainHeader {
    display: flex;
    justify-content: center;
    font-size: 200%;
}

.week {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}

button {
    padding: 10px;
    border: none;
    border-radius: 12px;
    background: #C10010;
    box-shadow: 4px 4px #101010;
    font-family: MyCustomTTF;
    cursor: pointer;

    color: #fdf0d5;
    will-change: transform;
}

button:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
}

button:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(0.95);

    box-shadow: 6px 6px #101010;
}

.navWeekBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
}
