div {
    font-family: MyCustomTTF;
}

.mainHeader {
    display: flex;
    justify-content: center;
    font-size: 200%;
}

.week {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}

button {
    padding: 10px;
    border: none;
    border-radius: 12px;
    background: var(--color-red);
    box-shadow: 4px 4px var(--color-black);
    font-family: MyCustomTTF;
    cursor: pointer;

    color: var(--color-primary);
    will-change: transform;
}

button:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
}

button:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(0.95);

    box-shadow: 6px 6px var(--color-black);
}

.navWeekBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
}

input {
    background-color: transparent;
    border: none;
    border-radius: 12px;

    box-shadow: 0 4px 4px var(--color-black);
    padding: 1vh;
    margin: 1vh;
}

input:focus {
    box-shadow: 0 4px 4px var(--color-red);
    outline: none;
}

textarea {
    background-color: transparent;
    border: none;
    border-radius: 12px;
    height: 25vh;

    box-shadow: 0 4px 4px var(--color-black);
    padding: 1vh;
    margin: 1vh;
}

textarea:focus {
    box-shadow: 0 4px 4px var(--color-red);
    outline: none;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: 0 4px 4px var(--color-secondary);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
}
