.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background: var(--color-primary);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 6px 6px var(--color-black);
    max-width: 95vw;
    height: 90vh;
    width: 100%;
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-auto-flow: row;
    grid-auto-columns: 10vh;
    gap: 15px;
    justify-content: space-evenly;
    height: 72vh;
    border: 5px solid var(--color-secondary);
    border-radius: 15px;
    overflow: auto;
    padding: 30px;
}

.footer {
    display: flex;
    align-items: center;

    height: 8vh;
}
