.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background: var(--color-primary);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 6px 6px var(--color-black);
    max-width: 95vw;
    height: 90vh;
    width: 100%;
    text-align: center;
}

.main {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 30vh));
    grid-auto-flow: row;
    border-radius: 15px;
    overflow: auto;
    gap: 2vh;
}

.footer {
    display: flex;
    align-items: center;

    height: 8vh;
}
