.mealCard {
    background-color: var(--color-secondary);
    max-width: 200px;
    border-radius: 12px;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2%;
    height: 50px;
    padding: 3%;
}

.mainSide {
    border-radius: 12px;
    width: 80%;
}

.mainSide:hover {
    cursor: pointer;
    box-shadow: 4px 4px var(--color-black);
}

.secondarySide {
    width: 20%;
}

.mealCard img {
    width: 50%;
}

.mealCard img:hover {
    cursor: pointer;
    border-radius: 5px;

    transition: transform 0.2s ease-in-out;
    transform: scale(1.1);
}